<div class="panel-primary">
    <div class="panel-heading">
        {{viewModel.ID > 0 ? viewModel.Name : "NEW PROJECT"}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <form role="form" angular-validator name="fillupForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 selectContainer">
                                <label class="control-label" for="div">Division</label>
                                <select ng-model="viewModel.DivisionID" class="form-control black" ng-options="option.ID as option.Name for option in divisions" required></select>
                                <input type="hidden" name="DivisionID" ng-value="viewModel.DivisionID" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 selectContainer">
                                <label class="control-label" for="pname">Project name</label>
                                <input type="text" class="form-control" ng-model="viewModel.Name" name="pname" id="pname" placeholder="Project name"
                                       validate-on="blur" required required-message="'Project name is required'">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 selectContainer">
                                <label class="control-label" for="pms">Project manager</label>
                                <select ng-model="viewModel.ProjectManagerID" class="form-control black" ng-options="option.ID as option.FullName for option in pms"></select>
                                <input type="hidden" name="ProjectManagerID" ng-value="viewModel.ProjectManagerID" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 selectContainer">
                                <label class="control-label" for="budget">Budget</label>
                                <input type="number" class="form-control" ng-model="viewModel.Budget" name="budget" id="budget" placeholder="0"
                                       validate-on="blur" required required-message="'Budget is required'" ng-keypress="filterValue($event)">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="fillupForm.$invalid || dataLoading">{{viewModel.ID > 0 ? "Update" : "Create"}}</button>
            <button type="button" class="btn btn-default" ng-click="close()" ng-disabled="dataLoading">Close</button>
        </div>
    </div>
</div>