<div class="left_col">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li class="sm-active menu-item tooltip-nav" id="menuDashboard">
                <a ng-href="#/">
                    <i class="fa fa-dashboard"></i>
                    <span class="tooltiptext tooltip-right">Dashboard</span>
                </a>
            </li>
            <li class="sm-active menu-item tooltip-nav" id="menuDivisions" ng-if="isAdmin">
                <a ng-href="#/divisions">
                    <i class="fa fa-building"></i>
                    <span class="tooltiptext tooltip-right">Division management</span>
                </a>
            </li>
            <li class="sm-active menu-item tooltip-nav" id="menuUsers" ng-if="isAdmin">
                <a ng-href="#/users">
                    <i class="fa fa-users"></i>
                    <span class="tooltiptext tooltip-right">User management</span>
                </a>
            </li>
            <li class="sm-active menu-item tooltip-nav" id="menuProjects" ng-if="isAdmin">
                <a ng-href="#/projects">
                    <i class="fa fa-folder"></i>
                    <span class="tooltiptext tooltip-right">Project management</span>
                </a>
            </li>
            <li class="sm-active menu-item tooltip-nav" id="menuMyProjects" ng-if="!isAdmin">
                <a ng-href="#/my-projects">
                    <i class="fa fa-folder"></i>
                    <span class="tooltiptext tooltip-right">My Projects</span>
                </a>
            </li>
            <li class="sm-active menu-item tooltip-nav" id="menuMyApprovals" ng-if="!isAdmin && !isPM">
                <a ng-href="#/my-approvals">
                    <i class="fa fa-check-square-o"></i>
                    <span class="tooltiptext tooltip-right">Projects for approval</span>
                </a>
            </li>
        </ul>
    </div>
</div> 