<div class="left_col">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li class="sm-active menu-item tooltip-nav" id="menuDashboard">
                <a ng-href="#/">
                    <i class="fa fa-dashboard"></i>
                    <span class="tooltiptext tooltip-right">Dashboard</span>
                </a>
            </li>
            <li class="sm-active menu-item tooltip-nav" id="menuUsers" ng-if="isAdmin">
                <a ng-href="#/users">
                    <i class="fa fa-users"></i>
                    <span class="tooltiptext tooltip-right">User management</span>
                </a>
            </li>
            <li class="sm-active menu-item tooltip-nav" id="menuProjects" ng-if="isAdmin">
                <a ng-href="#/projects">
                    <i class="fa fa-folder"></i>
                    <span class="tooltiptext tooltip-right">Project management</span>
                </a>
            </li>
        </ul>
    </div>
</div> 