<div class="clearfix">
    <div class="view-header">
        <add-button create="create()"></add-button>
        <a ng-href="#/users" class="btn btn-primary"><i class="fa fa-backward"></i> RETURN TO USERS</a>
    </div>
    <div class="mt20 col-lg-8 np">
        <table class="table table-striped responsive-utilities jambo_table bulk_action" st-table="divisions" st-safe-src="tableRowCollection">
            <thead>
                <tr class="headings">
                    <th st-sort="FullName">Division Name </th>
                    <th class="no-link last">
                        <span class="nobr">Action</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!loadingData && divisions.length == 0">
                    <td colspan="9">
                        <i class="fa fa-file-o"></i>
                        <span>No record to display</span>
                    </td>
                </tr>
                <tr ng-if="loadingData">
                    <td colspan="9">
                        <i>&nbsp;Fetching data..</i>
                        <div id="loading-spinner" class="pull-left"><div class="spinner-icon"></div></div>
                    </td>
                </tr>
                <tr ng-repeat="row in divisions">
                    <td>{{row.Name}}</td>
                    <td class="last">
                        <a class="btn btn-default" ng-click="create(row)"><i class="fa fa-edit"></i> View</a>
                        <a class="btn btn-danger" ng-click="archive($index, row)"><i class="fa fa-trash"></i> Archive</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>